/* body {
    background-color: beige;
}

h1 {
    color: rgb(123, 123, 218);
}

.active {
    color: tomato;
}

.sexy-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input {
    border:none;
    border-bottom: 1.5px solid #ededed;
}
input:focus {
    outline: none;
}
input.placeholder {
    text-align: center;
}
button {
    all: unset;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
button:hover {
    color: rgb(123, 226, 178);
}

.hidden {
    display: none !important;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    flex-direction: column;
}

.formDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formDetail label {
    padding: 10px;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fade-in {
    animation: fade-in 2s;
}
.fade-out {
    animation: fade-out 0.5s;
}

@keyframes fade-in {
   from {opacity: 0;} to {opacity: 1;}
}

/* 시계 */
.clock-style {
    padding: 5px 10px;
    background-color: rgba( 0, 0, 0, 0.4 );
    border-radius: 50px;
    color: #fff;
    font-family: 'S-CoreDream-3Light';
    font-size: 18px;
    margin: 0 0;
    top: 20px;
    position: absolute;
}